ul#salon_list
{
	list-style: none;
}


table
{
	
}

table,th,tr,td
{
	border: 0px none #ffffff;
	padding-left: 10px;
	padding-right: 10px;
}

th {
	padding-bottom: 10px;
}

td {
	padding-bottom: 5px;
}

table#navFooterTable
{
	width: 100%;
}

td#leftColumn
{
	text-align: center;
}

td#rightColumn
{
	text-align: center;
}

/* component content */
#SalonBookContent {
	width: 720px;
}

/* Booking Wizard */
.apptEditButton_change {
	margin-right: 40px;
	color: green;
	width: 120px;
}

.apptEditButton_locked {
	margin-right: 40px;
	color: gray;
	width: 120px;
}

.apptEditButton_cancel {
	margin-right: 40px;
	color: red;
	width: 80px;
}

.apptDetail {
	margin-bottom: 10px;
}

/* timeslots UI */
/* p {margin-left:20px;} */
#main_display_area {
	width: 280px;
	color: black;
	float: left;
}
.availabilityTable {
	border-style: none;
	background-color: white;
	border-color: white;
	margin-bottom: 15px;
}
#selectedTimeslot {
	color:green;
}
#stepHeaderTitle {
	color:black;
	text-align:center;
	width: 180px;
	float:left;
	height:430px;

	border:0px dotted red;
	background-color: white;
}
#displayAreaSelectedTimeslot {
	float:left;
	margin-left:40px;
	/* sit at bottom of it's container */
	margin-top:230px;
	text-align:center;
}
.time_selector {
	margin-left:0px;
}

/* confirm and pay */
#mainContent {
	width: 300px;
	float: left;
	clear:both;
}

#paymentForm {
	float: left;
	margin-left: 40px;
}

#updateSuccessMessage {
	float: left;
	margin-top: 80px;
	margin-left: 40px;
	color: green;
	font-size: large;
}

#nextButton {
	margin-top: 60px;
	clear:both;
}

.goBackAPage#timeslotBackButton {
	float:left;
	position:relative;
	left:0px;
	top:0px;
}
