ul#salon_list
{
	list-style: none;
}

table
{
	border-collapse:collapse;
}

table,th,td
{
border: 0px solid #ffffff;
}

table#navFooterTable
{
	width: 100%;
}

td#leftColumn
{
	text-align: center;
}

td#rightColumn
{
	text-align: center;
}

/* Booking Wizard */
.apptEditButton_change {
	margin-right: 40px;
	color: green;
	width: 120px;
}

.apptEditButton_locked {
	margin-right: 40px;
	color: gray;
	width: 120px;
}

.apptEditButton_cancel {
	margin-right: 40px;
	color: red;
	width: 80px;
}

.apptDetail {
	margin-bottom: 10px;
}

/* timeslots UI */
/* p {margin-left:20px;} */
#main_display_area {
	width: 240px;
	color: black;
	float: left;
}
#selectedTimeslot {
	color:green;
}
#stepHeaderTitle {
	color:black;
}
#displayAreaSelectedTimeslot {
	float:left;
	margin-left:40px;
}

/* confirm and pay */
#mainContent {
	width: 300px;
	float: left;
}

#paymentForm {
	float: left;
	margin-left: 40px;
}

#updateSuccessMessage {
	float: left;
	margin-top: 80px;
	margin-left: 40px;
	color: green;
	font-size: large;
}

/* admin area */
.salonbook_admin_tools #synch_users {
	border: 1px solid #000000;
	padding: 30px 30px 30px 30px;
	background-color: #ff0000;
	color: #ffffff;
}

